---
import BaseLayout from '../layouts/base.astro';
import { includeGeneralTutorials } from '../lib/tutorials';
import Markdown from '../components/markdown.astro';

const tutorials = includeGeneralTutorials('tutorials');
---

<BaseLayout title="Tutorials and Guides" path="/tutorials">
    <header id="top" class="page-header">
        <h1>Tutorials and Guides</h1>
        <p class="lead" style="text-align: left;">
            A collection of practical guides and examples to help you implement various polynomial fitting techniques
            using our library.
        </p>
    </header>

    <!-- Search box -->
    <div class="mb-4">
        <input type="text" id="glossary-search" class="form-control" placeholder="Search..." />
    </div>

    <div class="accordion accordion-flush" style="text-align: left">
    {tutorials.map((tutorial: any) => (
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed recipe-card" type="button" data-bs-toggle="collapse"
                data-bs-target={`#${tutorial.id}`} aria-expanded="false" aria-controls={`${tutorial.id}`}>
                {tutorial.title}
            </button>
        </h2>
        <div id={`${tutorial.id}`} class="accordion-collapse collapse no-highlight" style="text-align: left" data-title={tutorial.title} >
            <div class="accordion-body">
                <a href={tutorial.links.github} class="btn btn-outline-secondary btn-sm float-end" target="_blank"><i
                    class="bi bi-github me-2"></i> GitHub</a>

                <div class="recipe-content">
                    <Markdown items={tutorial.content} p_class="col-md-9" parent_id={tutorial.id} />
                </div>
            </div>
        </div>
    </div>
    ))}
</BaseLayout>